@charset "UTF-8";
.icon-mail:before {
  content: '\e800'; }

/* '' */
.icon-cancel:before {
  content: '\e801'; }

/* '' */
.icon-ok:before {
  content: '\e802'; }

/* '' */
.icon-print:before {
  content: '\e803'; }

/* '' */
.icon-phone:before {
  content: '\e804'; }

/* '' */
.icon-rss:before {
  content: '\f09e'; }

/* '' */
.icon-pinterest-squared:before {
  content: '\f0d3'; }

/* '' */
.icon-gplus-squared:before {
  content: '\f0d4'; }

/* '' */
.icon-twitter-squared:before {
  content: '\f304'; }

/* '' */
.icon-facebook-squared:before {
  content: '\f308'; }

/* '' */
.icon-linkedin-squared:before {
  content: '\f30c'; }

/* '' */
