.top-bar{
    justify-content: center;
    .menu{
        a{
            color:$white;
        }
    }
    .vertical{
        background: $white;
        a{
            line-height: 1.5;
            color : $black;
        }.active{
            a{
                color: $white;
            }
        }
    }
}
.is-open + .off-canvas-content .hamburger {
    .line:nth-child(1),
    .line:nth-child(3) {
      width: 12px;
    }
  
    .line:nth-child(1) {
      transform: translateX(-5px) rotate(-45deg);
    }
  
    .line:nth-child(3) {
      transform: translateX(-5px) rotate(45deg);
    }
  }
  
  .hamburger .line {
    width: 20px;
    height: 2px;
    background-color: $white;
    display: block;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  .title-bar-title{
      color: $white;
      font-weight: inherit;
      font-size:map-deep-get($header-styles, small, h1, font-size)*1px;
      
      @include breakpoint(large) {
        // All CSS in here goes inside the media query
      }
  }